@import '../../theme/util.less';

.dashboard {
  width: 100%;
  height: 100%;

  #themify( {
      background-color: '@layer_1'
    }

  );

  .title {
    font-weight: 500;
    font-size: 2rem;

    #themify( {
        color: '@text_color_9';
      }

    )
  }

  .plan {
    padding: 1rem 1.2rem;
    border-radius: 10px;
    font-size: 1.5rem;

    #themify( {
        color: '@layer_6';
        background-color: '@layer_9';
      }

    )
  }

  .tips {
    color: red;
    font-size: 2rem;
    margin: 0 10px;
  }

  .shoucang {
    animation: blink 1s infinite;
    margin-right: 4px;
    font-size: 1.5rem;
  }

}

@keyframes blink {

  50% {
    color: transparent;
  }

}

// @media only screen and (max-width: 980px) {
//   .dashboard {
//     header {
//       .title {
//         margin-left: 25px;
//       }
//     }
//   }
// }