@import "../../theme/util.less";

.Sidebar {
  width: 17%;
  // border-top-left-radius: 30px;
  box-sizing: border-box;
  transition: width .2s, transform .2s;
  padding: 20px 0;
  height: 100%;
  position: relative;



  #themify( {
      color: '@text_color_11';
      background-color: '@layer_10';
    }

  );

  .sp-switch {
    // height: 6px;
    position: relative;
    margin-top: 45px;
    left: 50%;
    transform: translateX(-50%);

    img {
      position: absolute;
      top: -50px;
      left: -55px;
      width: 35px;
    }

    svg {
      position: absolute;
      content: "";
      right: -58px;
      top: -48px;
      font-family: fantasy;
      width: 95px;
      height: 50px;

      >g {
        #themify( {
            fill:'@text_color_11'
          }

        )
      }

      // background-image: url(../../../public/title2.png);
      // background-size: 100%;
      // background-repeat: no-repeat;
    }

    .sp-switch-icon {

      // width: 6px !important;
      // height: 5px !important;
      // top: 0;
      &.sp-icon-taiyang {
        color: #ec513d;
      }

      &.sp-icon-shouhuiyueliang {
        color: #00fff1;
      }


      #themify( {
          background-color: '@layer_1';
        }

      );
    }
  }

  &-list {
    margin-top: 15px;
    padding: 0 10px;

    >div {
      padding: 8px 6px;
      border-radius: 10px;
      // margin: 6px 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 13px;

      .sp-icon {
        margin-right: 6px;
        font-size: 18px;
      }


      #themify( {
          background-color: '@layer_10';
        }

      );

      &:hover {
        filter: brightness(1.1);


      }
    }

    .active {
      color: #fff;

      &:hover {
        filter: brightness(1);
      }

      #themify( {
          background-color: '@side_active_back';
        }

      )
    }
  }

  &980 {
    width: 170px !important;
    position: absolute;
    transform: translate(0px, 0px) !important;
  }


}


// @media only screen and (min-width: 320px) and (max-width: 480px) and (resolution: 150dpi) {
// }

// @media only screen and (max-width: 420px) {
//   .Sidebar {
//     color: red !important;
//     width: 0;
//     padding: 0;

//   }
// }

@media only screen and (max-width: 980px) {
  .Sidebar {
    width: 0;
    transform: translateX(-100%);
    position: absolute;

    div {
      overflow: hidden;
      padding: 0 !important;
    }

  }
}






.theme-light::view-transition-old(root) {
  z-index: 1;
}

.theme-light::view-transition-new(root) {
  z-index: 9999;
}


.theme-dark::view-transition-old(root) {
  z-index: 9999;
}

.theme-dark::view-transition-new(root) {
  z-index: 1;
}