@import url(./family.css);

#world {
  /* background: #652e37; */
  background-image: radial-gradient(#db614c, #e0d865);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#instructions {
  position: absolute;
  width: 100%;
  top: 50%;
  margin: auto;
  margin-top: 120px;
  font-family: 'Open Sans', sans-serif;
  color: #fdde8c;
  font-size: .8em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  user-select: none;
}

.lightInstructions {
  color: #f89a78;
  font-size: .9em;
}

#credits {
  position: absolute;
  width: 100%;
  margin: auto;
  bottom: 0;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #f7575f;
  font-size: 0.6em;
  text-transform: uppercase;
  text-align: center;
}

#credits a {
  color: #f89a78;
}

#power {
  position: absolute;
  width: 100%;
  top: 50%;
  margin: auto;
  margin-top: -220px;
  font-family: 'Open Sans', sans-serif;
  color: #481f26;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  user-select: none;
}